body {
    background-color: $background;
    color: $text;
}

section {
    margin-bottom: 6 * $rhythmUnit;
}

// Utility classes
.box {
    background-color: $primary-light;
    min-height: 4 * $rhythmUnit;

    &.image {
        min-height: 8 * $rhythmUnit;
    }
}

.primary {
    background-color: $primary;

    &.light {
        background-color: $primary-light;
    }

    &.dark {
        background-color: $primary-dark;
    }
}

.secondary {
    background-color: $secondary;

    &.light {
        background-color: $secondary-light;
    }

    &.dark {
        background-color: $secondary-dark;
    }
}

.accent {
    background-color: $accent;

    &.light {
        background-color: $accent-light;
    }

    &.dark {
        background-color: $accent-dark;
    }
}

.text-primary {
    color: $primary;

    &.light {
        color: $primary-light;
    }

    &.dark {
        color: $primary-dark;
    }
}

.text-secondary {
    color: $secondary;

    &.light {
        color: $secondary-light;
    }

    &.dark {
        color: $secondary-dark;
    }
}

.text-accent {
    color: $accent;

    &.light {
        color: $accent-light;
    }

    &.dark {
        color: $accent-dark;
    }
}

.swatch {
    padding: $rhythmUnit/2;

    > div {
        padding: $rhythmUnit*1.5 $rhythmUnit*1.75 0;
    }

    span {
        display: block;
        padding-top: $rhythmUnit/2;
        text-align: center;
    }
}

.icons {
    .box {
        display: flex;
        justify-content: center;

        i {
            align-self: center;
            color: $primary;
            font-size: 2rem;
            transition: color .75s;

            &:hover {
                color: $highlight;
                transition: color .75s;
            }
        }
    }
}

.section-title {
    color: $highlight;
}

.field-wrap {
    margin-bottom: $rhythmUnit;
}